@use "../abstracts/" as *;

@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

body {
    background-color: $white-color;
    font-weight: 500;
    font-size: 1rem;
    color: $black-color;
    font-family: $primary-font;
}